input[type="text"] {
  margin: 0;
  width: 400px;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 22px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  cursor: text;
}
input[type="text"]:focus {
  outline: none;
}

input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

body.noselect
{
  margin:0;
  padding:0;
  background-color:#000;

  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}
input,
textarea {
     -moz-user-select: text;
}
a
{
  cursor: pointer;
}

canvas
{
  margin:0;
  padding:0;
  background-color:#000;
}
#wrapper
{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  position:absolute;
  left:0;
  top:0;
}
#login
{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  position:absolute;
  left:0;
  top:0;
  background-image:url('imgs/2.jpg');
  background-repeat: repeat;
}
#fullpage
{
  padding: 50px 50px;
  left:0;
  top:0;
  background-image:url('imgs/2.jpg');
  background-repeat: repeat;
  color: #BBB;
  font-size: 20px;
  font-family: Arial, sans-serif;
}
#logo
{
  width:600px;
  height:300px;
  position: absolute;
  top: 50%;
  left: 50%;

  margin: -250px 0 0 -300px;
}
#centered
{
  width:700px;
  margin-left: auto;
  margin-right: auto;
}
/*
https://css-tricks.com/centering-css-complete-guide/
*/
#nickbuttons
{
  width: 530px;
  height: 50px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: 55px 0 0 -265px;
}
#playbutton
{
  width:100px;
  height:50px;
  position:relative;
  top:-4px;
  left:3px;
}
#preview
{
  width: 500px;
  height: 140px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: 120px 0 0 -250px;
  background:transparent;
}
#thanks
{
  width: 600px;
  height: 300px;
  
  text-align:center;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: 50px 0 0 -300px;
  
  color: #BBB;
  font-size: 20px;
  font-family: Impact, Charcoal, sans-serif;
}
#tutorial
{
  width: 600px;
  height: 50px;
  
  text-align:center;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: 260px 0 0 -300px;
  
  color: white;
  font-size: 22px;
  font-family: Impact, Charcoal, sans-serif;
}
.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 12px 24px;
   -webkit-border-radius: 22px;
   -moz-border-radius: 22px;
   border-radius: 22px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 17px;
   font-family: Impact, Charcoal, sans-serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
#share   
{
  position:absolute;
  left:10px;
  bottom:10px;
  width:230px;
  color: #AAA;
  font-size: 19px;
  font-family: Impact, Charcoal, sans-serif;
}
#fbshare, #twshare, #pshare
{
  text-decoration: none;
  color: #FFF;
  font-size: 21px;
}
#return
{
  text-decoration: none;
  color: #FFF;
  font-size: 24px;
}

#info   
{
  position:absolute;
  right:10px;
  bottom:10px;
  width:350px;
  color: #AAA;
  font-size: 16px;
  font-family: Impact, Charcoal, sans-serif;
}
.link
{
  text-decoration: none;
  color: #AAA;
  font-size: 16px;
  margin: 0 5px;
}
.link2
{
  text-decoration: none;
  color: #FFF;
  font-size: 19px;
}

/*
ins.adsbygoogle
{
  position:absolute;
  left:0px;
  bottom:0px;
  background-color:#fff;
}*/
@media (max-width: 800px) {
  ins.adsbygoogle
  {
    display:none;
 }
}
